@charset "utf-8";
body.sub{background-color:#222;}
.wrap{padding-bottom:0px;}
.contents-wrap{padding-bottom:10px;margin:0 auto;width:1024px;height:100%;}

.logo-wrap{padding-top:30px;}
.logo-wrap .logo{margin:0 auto;text-indent:-9999px;}
.logo-wrap.inf-logo-wrap .logo{width:330px;height:248px;background-image:url('../imgs/infinite/data/logo.png');}
.logo-wrap.lov-logo-wrap{padding-bottom:30px;}
.logo-wrap.lov-logo-wrap .logo{width:250px;height:202px;background-image:url('../imgs/lovelyz/data/logo.png');}

.grid-wrap{padding-bottom:140px;}
.grid-item{position:relative;float:left;width:204px;}
.grid-item.grid-width2{width:408px;}
.grid-item .grid-item-inner{padding:5px}
.grid-item .grid-box{padding:10px;border:2px solid transparent;}
.grid-item.inf-grid-item .grid-box{background-color:#fff;}
.grid-item.lov-grid-item .grid-box{background-color:#fff;}
.grid-item .grid-box .img-wrap{max-height:500px;overflow:hidden;}
.grid-item .grid-box .img-wrap img{width:100%;}

.grid-item .item-cover{display:none;position:absolute;top:5px;left:5px;width:194px;height:100%;background:url('../imgs/common/item_cover_bg.png') 0 0 repeat;}
.grid-item.grid-width2 .item-cover{width:398px;}
.grid-item .item-cover .desc{padding:35px 0 0 20px;}
.grid-item .item-cover .desc a{color:#fff;font-size:14px;}
.grid-item .item-cover .desc:hover a{border-bottom:1px solid #ccc;}

.view-container{position:relative;margin:0 auto;width:980px;min-height:500px;max-height:650px;background:url('../imgs/common/item_cover_bg.png') 0 0 repeat;text-align:center;color:#fff;border:1px solid #858484;}
.btn-wrap{position:absolute;top:10px;right:10px;padding:10px 10px 0 0;z-index:100;}
.btn-wrap a{display:block;width:30px;height:30px;border:5px solid #fff;background:url('../imgs/common/item_cover_bg.png') 0 0 repeat;}
.btn-wrap a img{width:30px;height:30px;}
.view-imgs-wrap{padding-top:80px;}
.view-txt-wrap{padding:30px 50px;font-size:12px;text-align:left;}
.view-txt-wrap .title{font-weight:bold;font-size:16px;}
.view-txt-wrap .txt{padding:20px 0 0 20px;}
.view-txt-wrap .txt a{color:#fff;}

.data-end-wrap{display:none;position:absolute;bottom:0px;left:5px;width:400px;height:80px;}
.data-end{padding:20px 10px;width:280px;color:#fff;border:2px solid #fff;border-radius:4px;}

.interview-question{color:#7C338F;font-style:normal;}
.c216814{color:#216814;font-size:12px;}