@charset "utf-8";
body.sub{background-color:#222;}
.contents-wrap{position:relative;top:0;left:50%;margin-left:-512px;padding-top:20px;width:1024px;}

.logo-wrap .logo{margin:0 auto;text-indent:-9999px;}
.logo-wrap.inf-logo-wrap .logo{width:330px;height:248px;background-image:url('../imgs/infinite/main/logo.png');}
.logo-wrap.lov-logo-wrap{padding-bottom:30px;}
.logo-wrap.lov-logo-wrap .logo{width:250px;height:202px;background-image:url('../imgs/lovelyz/main/logo.png');}

.grid-wrap{width:1024px;}
.grid-item{float:left;width:341px;}
.grid-item.grid-width2{width:682px;}
.grid-item .grid-item-inner{padding:5px}
.grid-item .grid-box{padding:10px;border:2px solid transparent;}
.grid-item .grid-box .grid-box-inner{max-height:500px;overflow:hidden;}
.grid-item.inf-grid-item .grid-box{background-color:#fff;}
.grid-item.lov-grid-item .grid-box{background-color:#fff;}
.grid-item .grid-box img{width:100%;}
.grid-item.inf-grid-item .grid-box.current{background-color:#5C97B8;}
.grid-item.lov-grid-item .grid-box.current{background-color:#F79EA6;}

.mem-intro-wrap{position:absolute;margin-top:5px;width:800px;height:1200px;background:url('../imgs/common/item_cover_bg.png') 0 0 repeat;}
.inf-mem-intro-wrap{top:268px;left:220px;}
.lov-mem-intro-wrap{top:252px;right:220px;}
.btn-wrap{position:absolute;top:10px;right:10px;padding:10px;z-index:100;}
.btn-wrap a{display:block;width:30px;height:30px;border:5px solid #fff;background:url('../imgs/common/item_cover_bg.png') 0 0 repeat;}
.btn-wrap a img{width:30px;height:30px;}
.mem-container{position:absolute;top:0;left:0;height:1200px;z-index:20;}
.mem-img-box{padding-top:80px;width:780px;text-align:center;}
.mem-img-box img{max-width:700px;max-height:800px;}
.mem-desc-wrap{color:#fff;}
.mem-desc-wrap .profile{padding-top:30px;list-style:none;}
.mem-desc-wrap .profile li{padding:8px;}
.mem-desc-wrap .profile li.name-box{margin-bottom:15px;border-bottom:1px solid #70747F;}
.mem-desc-wrap .profile li.name-box .title{float:none;font-size:18px;font-weight:bold;color:#fff;}
.mem-desc-wrap .profile li.name-box .txt{float:none;padding-top:5px;font-size:14px;color:#fff;}
.mem-desc-wrap .profile li .title{float:left;width:100px;color:#AACABF;font-size:12px;}
.mem-desc-wrap .profile li .txt{float:left;width:600px;font-size:12px;}
.mem-desc-wrap .profile li .txt a{display:inline;color:#fff;font-size:12px;}
.mem-desc-wrap .profile li .txt i{color:#2F8A18;font-size:12px;}
.desc-txt-wrap{padding:40px 50px 0 20px;}
.desc-txt-wrap .desc-txt{font-size:12px;}

.ps-scrollbar-x-rail, .ps-scrollbar-y-rail{z-index:100;}